<!DOCTYPE html>
<html>
<head>
  <title>AboveAverage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>

<%= yield %>

	<div>
		<ul>
			<li>
				<%= link_to "Home", root_path %>
			</li>
			<li>
				<%= link_to "Punch", punch_path %>
			</li>
		</ul>
	</div>

</body>
</html>
