
<div class="recycling-instruction">
	<h3>
		Recycling habits
	</h3>
	<p>
		Move the sliders and try to match your habits to those described.
	</p>
</div>

<div class="recycling-form">
	<%= form_for([@user, @recycling], method: :post) do |f| %>

		<%= f.label "Local recycling, generally required" %><br>
		<div>
		<%= f.range_field :local, :min=>0, :max=>100, :step =>20, :value=>0, :class=>"local-slide" %>

			<p id="local-slider-value"></p>
		</div>
			<script type="text/javascript">
			$(document).ready(function() {
				$('.local-slide').on('change', function(s) {
					var val = $(this).val();
					var msg = "";
					if (val == 0) {
						msg = "Does not Apply"
					} else if (val <= 20) {
						msg = "Occationally";
					} else if (val <= 40) {
						msg = 'Sometimes';
					} else if (val <= 60 ) {
						msg = "Most of the Time";
					} else if (val <= 80 ) {
						msg = "Most of the Time";
					} else
						msg = "Always";
					$('#local-slider-value').html(msg);
				});
			});
			</script>

		<%= f.label "Compost and Food Waste" %><br>
		<%= f.range_field :compost, :min=>0, :max=>100, :step =>20, :value=>0, :class=>"compost-slide" %>

			<p id="compost-slider-value"></p>

			<script type="text/javascript">
			$(document).ready(function() {
				$('.compost-slide').on('change', function(s) {
					var val = $(this).val();
					var msg = "";
					if (val == 0) {
						msg = "Does not Apply"
					} else if (val <= 20) {
						msg = "Occationally";
					} else if (val <= 40) {
						msg = 'Sometimes';
					} else if (val <= 60 ) {
						msg = "Most of the Time";
					} else if (val <= 80 ) {
						msg = "Most of the Time";
					} else
						msg = "Always";
					$('#compost-slider-value').html(msg);
				});
			});
			</script>

		<%= f.label "Clothes and Fabric" %><br>
		<%= f.range_field :fabric, :min=>0, :max=>100, :step =>20, :value=>0, :class=>"fabric-slide" %>

			<p id="fabric-slider-value"></p>

			<script type="text/javascript">
			$(document).ready(function() {
				$('.fabric-slide').on('change', function(s) {
					var val = $(this).val();
					var msg = "";
					if (val == 0) {
						msg = "Does not Apply"
					} else if (val <= 20) {
						msg = "Occationally";
					} else if (val <= 40) {
						msg = 'Sometimes';
					} else if (val <= 60 ) {
						msg = "Most of the Time";
					} else if (val <= 80 ) {
						msg = "Most of the Time";
					} else
						msg = "Always";
					$('#fabric-slider-value').html(msg);
				});
			});
			</script>

		<%= f.label "e-waste" %><br>
		<%= f.range_field :ewaste, :min=>0, :max=>100, :step =>20, :value=>0, :class=>"ewaste-slide" %>

			<p id="ewaste-slider-value"></p>

			<script type="text/javascript">
			$(document).ready(function() {
				$('.ewaste-slide').on('change', function(s) {
					var val = $(this).val();
					var msg = "";
					if (val == 0) {
						msg = "Does not Apply"
					} else if (val <= 20) {
						msg = "Occationally";
					} else if (val <= 40) {
						msg = 'Sometimes';
					} else if (val <= 60 ) {
						msg = "Most of the Time";
					} else if (val <= 80 ) {
						msg = "Most of the Time";
					} else
						msg = "Always";
					$('#ewaste-slider-value').html(msg);
				});
			});
			</script>

		<%= f.submit "Boom" %>

	<% end %>
</div>
